.form_users {
  text-align: center;
  display: grid;
  justify-content: center;
}
.title {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  margin-top: 6vw;
  color: brown;
}

.form-group {
  width: 50vw;
  align-items: center;
  margin: 0 auto; /* This centers it horizontally */
}
.label_search {
  color: cadetblue;
  margin-bottom: 1vw;
}

.information {
  align-items: center;
  margin-top: 5vw;
  display: grid;
  justify-content: center;
  column-gap: 6vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.form-check-input {
  float: left;
}

.btn_save {
  float: right;
  width: auto;
}

.alert {
  width: 30vw;
  text-align: center;
}

.alert_info {
  position: fixed;
  top: 0px;
  padding: 0.5vw 1vw;
  font-size: 1.5vw;
  border-radius: 1vw;
  opacity: 0.7;
}

/* .information_systems .card {
  width: 25vw !important;
} */

.information_system {
  margin-right: 2vw;
}
.form-check-input {
  cursor: pointer;
}

.add_data,
.btn_save {
  display: none;
}
