<!-- Change Branch -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Branch</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select class="form-select searchable-select" aria-label="Job" required>
            <option value="263" data-select2-id="34">10th Corporate Sales WH</option>
            <option value="269" data-select2-id="35">10th of Domestic Returned-64</option>
            <option value="261" data-select2-id="36">10th of Ramadan WH</option>
            <option value="262" data-select2-id="37">10th Show Room WH</option>
            <option value="1" data-select2-id="38">10th Tech Club WH</option>
          </select>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  